@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Основные стилия для десктопного браузера*/

body{
    background: #C0E4E2;
    background-image: url(images/background_page.jpg);
    #background-position: top;
    display: block;
    background-size: auto 400px;
    background-attachment: scroll;
    
}

#page {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#header {
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.logo {
   box-shadow: 0 0px 10px 6px #f1c3c4;
    display: block;
    height: 328px;
   
}
    
li a {
    background-image:url(images/bg.jpg);
}

#navigation,#navigation li {
  padding: 5px;
}

#navigation {
  width: 950px;
  text-align: center; /* пункты и текст горизонтально по центру */
  background: rgba(248, 192, 193, 0.9);
  box-shadow: 0 0 10px 6px #FCEFEF;
  margin-top: 20px;
}

#navigation li {
  display: inline-block;
}

#navigation a {
  display: inline-block;
  padding: 5px 15px;
  color: #FFFAFC;
  text-decoration: none;
  border: 5px double;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  border-radius: 30px;
  background-image:url(images/bg.jpg) repeat -25px 35px;
}

#navigation a:hover {
  background-position: -150px 0;
}

#content {
   width: 960px;
   margin-top: 10px;
   background-color: #ffffff;
   padding: 3px 0px;
   text-align: center;
   font-family: 'Lobster', cursive;
   font-size: 23px;
   box-shadow: 0 0 10px 6px #f1c3c4;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#textincontent {
    font-family: cursive;
    font-size: 15px;
}

/*Текст для посетителя, шрифты тут*/
.wordForVisitor { 
    font-family: Geneva, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 17px;
    text-align: left;
    padding: 10px;
    text-indent: 20px;
    transition: all .1s ease-in-out;
}
.wordForVisitor a {
    background-color: #f1c3c4;
/*    font-size: 30px;*/
    transition: all .4s ease-in-out;
    text-decoration: none;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 0 3px 2px #f1c3c4;
}
.wordForVisitor b {
    background: #C0E4E2;
    padding-left: 30px;
    padding-right: 30px;
    width: 800px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 20px;
    line-height: normal;
    display: inline-block;
/*    background-color: #C0E4E2;*/
} 
.wordForVisitor a:hover {
    background-color:#EE4536;
/*    transition: all .1s ease-in-out;*/
/*    text-decoration: none;*/
    box-shadow: 0 0 3px 2px #EE4536;
    color: white;
}

.social {
    position: absolute;
    top: 270px;
    right: 10px;
    z-index: 1;  
    font-size: 15px;
    text-decoration: none;
    font-family: Monte-Carlo;
    display: inline-block;
    width: 48px; 
    height: 48px;
    background:url(images/insta2.png) no-repeat 0 0;
}

.social:hover{
    border-radius: 7px;
    background-position: 0 -60px;
}

.social:active {
    background-position: 0 -120px;
}

.social img {
    visibility: hidden;
}

@font-face{
    font-family: Monte-Carlo;
    src: url(font/monte.ttf);
}

@font-face{
    font-family: Times;
    src: url(font/timesbd.ttf);
}